<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <base href="<%= APP_BASE %>">
    <title>Angular2 - Bootstrap</title>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
    <demo-app>
        Loading...
    </demo-app>

    <!-- inject:js -->
    <!-- endinject -->

    <script src="<%= APP_BASE %>init.js?v=<%= VERSION %>"></script>
</body>

</html>
